.banco-add {
    display: flex;
    flex-direction: column;
}

.banco-add h2 {
    margin-bottom: 20px;
}

.banco-form-select-container {
    padding: unset;
    height: unset;
    justify-content: center;
    align-items: center;

}

.banco-form-select-container:focus{
    outline: none;
}